name: upload
on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Git LFS
        run: git lfs install
        
      - name: Clone Hugging Face Repo
        run: |
          git clone https://huggingface.co/datasets/labofsahil/sponsorblock-dataset hf_downloads
      - name: Upload datasets
        uses: jaimevalero/push-kaggle-dataset@v3.2
        env:
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        with:
          id:  "justsahil/sb"
          title: "SB"
          # 3. Update path to look inside the cloned folder
          files: "hf_downloads/*.csv" 
          is_public: false
